<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>UOPJ - 500</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <script src="src/load_global.js"></script>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="about" class="text-block">
                <h2>Error 500</h2>
                <p>
                    Internal error.
                </p>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>