<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/submissions.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="about" class="text-block">
                <h2>
                    About SOPJ
                    <hr>
                </h2>
                <p>
                    SOPJ stands for Simple Online Programming Judge.
                </p>
                <p>
                    This project is open source. The GitHub repository can be found <a target="_blank" href="https://github.com/davisliu2006/SOPJ">here</a>.
                </p>
            </div>

            <div id="submission-codes" class="text-block">
                <h2>
                    Submission Codes
                    <hr>
                </h2>
                <p>
                    Submission codes are used to classify the verdict of each submission.
                </p>
                <ul>
                    <li>
                        <span class="Q">Q</span> - <b>Queued</b>. The submission is being judged.
                    </li>
                    <li>
                        <span class="IE">IE</span> - <b>Internal Error</b>. The submission encountered an error and could not be judged.
                    </li>
                    <li>
                        <span class="CE">CE</span> - <b>Compile Error</b>. The code failed to compile.
                    </li>
                    <li>
                        <span class="TLE">TLE</span> - <b>Time Limit Exeeced</b>. The code failed to execute within the time limit.
                    </li>
                    <li>
                        <span class="AB">AB</span> - <b>Aborted</b>. The code was forceably stopped.
                    </li>
                    <li>
                        <span class="RTE">RTE</span> - <b>Run Time Error</b>. The code encountered a run time error and exited with a non-zero exit status.
                    </li>
                    <li>
                        <span class="WA">WA</span> - <b>Wrong Answer</b>. The code ran successfully but produced an incorrect output.
                    </li>
                    <li>
                        <span class="AC">AC</span> - <b>Run Time Error</b>. The code ran successfully and produced the correct output.
                    </li>
                </ul>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>