<!--top bar-->
<div id="top-bar">
    <a id="top-bar-logo" href="/">SOPJ</a>
    <div id="top-bar-nav">
        <div id="nav-expand">
            <i class="fa-solid fa-bars"></i>
        </div>
        <a class="top-bar-btn" id="top-bar-home" href="/about">About</a>
        <a class="top-bar-btn" id="top-bar-about" href="/users">Users</a>
        <a class="top-bar-btn" id="top-bar-about" href="/problems">Problems</a>
        <a class="top-bar-btn" id="top-bar-about" href="/submissions">Submissions</a>
        <a class="top-bar-btn" id="top-bar-about" href="/contests">Contests</a>
    </div>
    <div id="top-bar-user">
        <% if (user) { %>
            <a class="login-btn" id="top-bar-login" href="/logout">User: <%= user.username %></a>
        <% } else { %>
            <a class="login-btn" id="top-bar-login" href="/signup">Sign Up</a>
            <a class="login-btn" id="top-bar-login" href="/login">Log In</a>
        <% } %>
    </div>
</div>