<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--login-->
            <div id="about" class="text-block align-center">
                <div id="login" class="align-left">
                    <form action="/login-request" method="post">
                        <h2 style="margin-top: 0px;">Login</h2>
                        <label for="username"><b>Username:</b>*</label><br>
                        <input class="text-entry" type="text" name="username" id="username" required><br><br>
                        <label for="password"><b>Password:</b>*</label><br>
                        <input class="text-entry" type="password" name="password" id="password" required><br><br>
                        <div class="captcha">
                            <label for="captcha"><b>Captcha:</b>*</label><br>
                            <div id="captcha-img" class="inline"></div><br>
                            <input class="text-entry" type="text" name="captcha" placeholder="Type the text above" required>
                            <script>
                                async function loadCaptcha() {
                                    let response = await fetch("/captcha");
                                    let text = await response.text();
                                    document.querySelector(".captcha #captcha-img").innerHTML = text;
                                }
                                window.addEventListener("load", loadCaptcha);
                              </script>
                        </div><br>
                        <% if (redirect) { %>
                            <input type="hidden" name="redirect" value="<%= redirect %>">
                        <% } %>
                        <% if (errors != "") {%>
                            <div id="errors">
                                <label>
                                    <%= errors %>
                                </label>
                                <br><br>
                            </div>
                        <% } %>
                        <button class="button" type="submit">
                            Log In
                        </button>
                    </form>
                </div>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>