<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            #submission #code {
                width: 100%;
                height: 20em;
            }
            #submission .button {
                width: 100%;
            }
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
        <script src="src/collapsables.js"></script>
        <!--code editor-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs/loader.min.js"></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="problem" class="text-block">
                <h2>
                    Submit to
                    <a href="/problems-view?id=<%= problem.id %>"><%= problem.name %></a>
                    <hr>
                </h2>
                <div id="submission">
                    <form action="/submit-request" method="post">
                        <input type="hidden" name="problem" value="<%= problem.id %>">

                        <!--monaco editor-->
                        <div id="monaco-editor">
                            <script>
                                require.config({paths: {vs: "https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs"}});

                                require(["vs/editor/editor.main"], function() {
                                    // theme
                                    monaco.editor.defineTheme("theme-1", {
                                        base: "vs-dark",
                                        inherit: true,
                                        rules: [],
                                        colors: {
                                            // "editor.background": "#fcfcfc"
                                        }
                                    });

                                    // editor
                                    let editor = monaco.editor.create(document.getElementById("monaco-editor"), {
                                        language: "cpp",
                                        theme: "theme-1",
                                        automaticLayout: true,
                                        fontSize: 16,
                                        scrollBeyondLastLine: false
                                    });

                                    // update textarea on submit
                                    document.querySelector("#submission form").addEventListener("submit", function () {
                                        document.querySelector("#submission #code").value = editor.getValue();
                                    });

                                    // update language
                                    let langSelect = document.querySelector("#submission #language");
                                    function updateLang() {
                                        let lang = langSelect.value;
                                        if (lang == "c++") {lang = "cpp";}
                                        monaco.editor.setModelLanguage(editor.getModel(), lang);
                                    }
                                    langSelect.addEventListener("change", updateLang);
                                    updateLang();
                                });
                            </script>
                        </div>

                        <textarea class="text-entry" name="code" id="code" placeholder="Paste your code here." hidden></textarea><br>
                        <select name="language" id="language">
                            <option value="c++">C++ (G++ 17)</option>
                            <option value="java">Java (Java 8)</option>
                            <option value="python">Python (Python 3)</option>
                        </select><br><br>
                        <button class="button" type="submit">
                            Submit
                        </button>
                    </form>
                </div>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>