<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>UOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <script src="src/load_global.js"></script>
        </div>

        <!--main-->
        <div id="main">
            <!--login-->
            <div id="about" class="text-block align-center">
                <div id="login" class="align-left">
                    <form action="/signup-request" method="post">
                        <h2 style="margin-top: 0px;">Create an Account</h2>
                        <label for="username">Username:*</label><br>
                        <input type="text" name="username" id="username" class="text-entry" required><br><br>
                        <label for="password">Password:*</label><br>
                        <input type="password" name="password" id="password" class="text-entry" required><br><br>
                        <label for="conf-password">Confirm Password:*</label><br>
                        <input type="password" name="conf-password" id="conf-password" class="text-entry" required><br><br>
                        <% if (errors != "") {%>
                            <div id="errors">
                                <label>
                                    <%= errors %>
                                </label>
                                <br><br>
                            </div>
                        <% } %>
                        <button class="button" type="submit">
                            Sign Up
                        </button>
                    </form>
                </div>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>