<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="about" class="text-block">
                <h2>
                    Terms of Service
                    <hr>
                </h2>
                <h3>1. Acceptance of Terms</h3>
                <p>
                    By using this website, you are agreeing to the Terms of Service.
                </p>
                <h3>2. Warranty</h3>
                <p>
                    This site is provided "as-is" without any warranties, express or implied. We disclaim all warranties, including but not limited to merchantability, fitness for a particular purpose, and non-infringement. We do not guarantee that this site will be uninterrupted, secure, or error-free.
                </p>
                <h3>3. Modifications to Terms</h3>
                <p>
                    We reserve the right to modify these terms at any time. Continued use after changes constitutes acceptance.
                </p>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>